# Ignore node_modules directory
node_modules

# Ignore .env file
*.env

# Ignore .env file
*.ENV

# Ignore logs directory
logs

# Ignore .DS_Store files on macOS
.DS_Store

# Ignore .env file
ANBU/Projects/discord-anbu-bot-js/.env